.para{
        color: #fff;
    }

    .bodycontainings{
     background:linear-gradient(rgb(0,0,0,0.50),rgb(0,0,0,0.50)), url(./images/trees.jpg) center/cover no-repeat; 
     width: 100%;
    }
       
        .card-custom {
            background-color: #1e1e1e; 
            border: 1px solid #333;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        .btn-purple {
            background-color:  rgba(138, 28, 241); 
            border-color: #7b4397;
            color: white;
        }
        .btn-purple:hover {
            background-color: rgb(57, 2, 111);
            border-color:rgb(55, 5, 104);
            color: white;
        }
        .penquin{
          
            color: snow;
        }

        .placehold::placeholder {
  color: #fff;
 
}
        
 u{
    border-bottom: 5px solid  rgba(138, 28, 241);
    text-decoration: none;
    border-radius: 5px;
 }      
.placehold:required{
    background-color: #1e1e1e;
}


/*mobile-nav */

mainMenu ,a,button {
   
    color: #fff;
    font-weight: bolder;

}
#mobileMenu {
      position: fixed;
      top: 0;
      left:-300px;
      height: 120vh;
      width: 300px;
      background: #fff;
      box-shadow: 2px 0 10px rgba(0,0,0,0.3);
      transition: 0.3s ease;
      z-index: 9999;
      padding: 20px;
      font-weight: bolder;
      color: #000;
    }

    #mobileMenu.active {
      left: 0;
    }

    .back-btn {
      cursor: pointer;
      font-weight: bold;
      padding-bottom: 10px;
      display: block;
      color: #000;
    }

    .close-btn {
      font-size: 22px;
      cursor: pointer;
      position: absolute;
      top: 15px;
      right: 15px;
      color: #000;
    }
/*-drop-down-menuites css-*/
 .mobbutton :hover{
    font-weight: bolder;
    color: rgba(138, 28, 241);
    font-size:16px;
 }